<center>
<h1>Two Menus: Morning and Everything Else</h1><br>
<div class="row">
  <% @menus.each do |menu| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= menu.image %>">
      <div class="caption">
        <h3><%= menu.name %></h3>
        <h4><%= menu.descrip %></h4>
        <!-- <%= link_to "Menu", menu, class: "btn btn-default" %> -->
      </div>  
    </div>  
  </div>
  <% end %>
</div>
</center>

<br>

<!-- <%= link_to "Add a New Menu", new_menu_path, class: "btn btn-primary" %> -->