<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @side.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @side.image %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @side.descrip %>
</p>

<p>
  <strong>Price:</strong>
  <%= @side.price %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @menu.name %>
</p>

<%= link_to 'Edit', edit_side_path(@side) %> |
<%= link_to 'Back', sides_path %>
