<center>
<h1>Now Serving <i>Two</i> Great Communities</h1><br>
<div class="row">
  <% @locations.each do |location| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= location.image %>">
      <div class="caption">
        <h3><%= location.name %></h3>
        <h4><%= location.descrip %></h4>
        <%= link_to "Menu", menus_path, class: "btn btn-default" %>
      </div>  
    </div>  
  </div>
  <% end %>
</div>
</center>

<br>

<!-- <%= link_to "Add a New Location", new_location_path, class: "btn btn-primary" %> -->